.slides.template-mariekj > article:not(.nobackground):not(.biglogo) {
        /*background: url(../images/SP2010logo.jpg) bottom right no-repeat;*/
        background-color: #E0E4CC;  
		padding-top:50px;
      }

	p + iframe {
	  margin-top: 40px;
	}

.slides.template-mariekj .source{ left: 200px;}

